name: onboarding_screen_start
description: Creating a Responsive and Impactful Onboarding Start Page for Your Project!

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.1 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
     - images/first.jpeg
     - images/first_compressed.jpg
     - icons/arrow-circle-right-outline-rounded.svg
  fonts:
     - family: Montserrat
       fonts:
         - asset: fonts/Montserrat-ExtraLight.ttf
         - asset: fonts/Montserrat-Light.ttf
         - asset: fonts/Montserrat-Regular.ttf
         - asset: fonts/Montserrat-Medium.ttf
         - asset: fonts/Montserrat-Bold.ttf
         - asset: fonts/Montserrat-SemiBold.ttf